.body
{
    overflow-x: hidden;
}

.background
{
    position: fixed;
    left: -187px;
    top: 0px;
    overflow: hidden;
    filter: brightness(80%);
}
.img1
{
    position: absolute;
    top: 50px;
    left: 65px;
    
}
.navbar
{
    position: absolute;
    top: 30px;
    left: 150px;
    
    
    
}
.navbar ul span a{
        text-decoration: none;
        color:rgb(255, 255, 255);
        padding: 50px;
    
        transition:0.2s;
    
}
.navbar ul span a:hover
{
    font-size: larger;
    color: yellow ;
    letter-spacing:0.1cm;
    transition:0.5s;
}


.navbar span{
    float: left;
    padding: 10px;
    font-size: 25px;
    font-family: 'Carme', sans-serif;
    font-weight: bold;                        
    padding-bottom: 41px;
    padding-top: 18px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 4em rgb(0, 0, 0);
   font-weight: 900;
   
  
}
.shad
{
    position: absolute;
    background:linear-gradient(rgb(0, 0, 0),transparent);
    width: 110%;
    height: 100px;
    top:-20px;
    left:-20px;
}
.card1
{
    position: absolute;
    width: 350px;
    height: 520px;
    background-color: white;
    top: 180px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    left: 130px;
    opacity: 85%;


}
.nimg1
{
    position: absolute;
    top:180px;
    left:130px;
}

.whole1
{
    position: absolute;
    width: 350px;
    height: 520px;
    transition: 0.3s;
    top: 180px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    left: 130px;
    box-shadow: 0px 0px 10px 3px black;

}
.whole1:hover
{   transition: 0.4s;
    box-shadow: 0px 0px 15px 2px white;
}



.text1
{
    position: absolute;
    top:425px;
    left:147px;
    font-family: 'Carme', sans-serif;
    font-size: larger;
    width: 330px;
}


.card2
{
    position: absolute;
    width: 350px;
    height: 520px;
    background-color: white;
    top: 180px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    left: 630px;
    opacity: 85%;

}
.nimg2
{
    position: absolute;
    top:180px;
    left:630px;
}

.whole2
{
    position: absolute;
    width: 350px;
    height: 520px;
    transition: 0.3s;
    top: 180px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    left: 630px;
    box-shadow: 0px 0px 10px 3px black;
}
.whole2:hover
{   transition: 0.4s;
    box-shadow: 0px 0px 10px 3px white;
}



.text2
{
    position: absolute;
    top:425px;
    left:647px;
    font-family: 'Carme', sans-serif;
    font-size: larger;
    width: 330px;
}


.card3
{
    position: absolute;
    width: 350px;
    height: 520px;
    background-color: white;
    top: 180px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    left: 1130px;
    opacity: 85%;

}
.nimg3
{
    position: absolute;
    top:180px;
    left:1130px;
}

.whole3
{
    position: absolute;
    width: 350px;
    height: 520px;
    transition: 0.3s;
    top: 180px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    left: 1130px;
    box-shadow: 0px 0px 10px 3px black;
}
.whole3:hover
{   transition: 0.4s;
    box-shadow: 0px 0px 10px 3px white;
}



.text3
{
    position: absolute;
    top:425px;
    left:1147px;
    font-family: 'Carme', sans-serif;
    font-size: larger;
    width: 330px;
}

.nimg7
{
    transition: 0.5s;
    position: absolute;
    top:1525px;
    left:727px; 
    filter: blur(1.5px);
}
.nimg7:hover
{
    filter: blur(0px);
    top:1510px;
    transition: 0.6s;

}
.div2
{   position: absolute;
    background-color: transparent;
    top:1520px;
    left: 0px;
    height: 100px;
    width: 100px;
    
}

/* /////////////////////////////////////////// */


.card4
{
    position: absolute;
    width: 350px;
    height: 520px;
    background-color: white;
    top: 880px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    left: 130px;
    opacity: 85%;


}
.nimg4
{
    position: absolute;
    top:880px;
    left:130px;
}

.whole4
{
    position: absolute;
    width: 350px;
    height: 520px;
    transition: 0.3s;
    top: 880px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    left: 130px;
    box-shadow: 0px 0px 10px 3px black;

}
.whole4:hover
{   transition: 0.4s;
    box-shadow: 0px 0px 15px 2px white;
}



.text4
{
    position: absolute;
    top:1125px;
    left:147px;
    font-family: 'Carme', sans-serif;
    font-size: larger;
    width: 330px;
}


.card5
{
    position: absolute;
    width: 350px;
    height: 520px;
    background-color: white;
    top: 880px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    left: 630px;
    opacity: 85%;

}
.nimg5
{
    position: absolute;
    top:880px;
    left:630px;
}

.whole5
{
    position: absolute;
    width: 350px;
    height: 520px;
    transition: 0.3s;
    top: 880px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    left: 630px;
    box-shadow: 0px 0px 10px 3px black;
}
.whole5:hover
{   transition: 0.4s;
    box-shadow: 0px 0px 10px 3px white;
}



.text5
{
    position: absolute;
    top:1125px;
    left:647px;
    font-family: 'Carme', sans-serif;
    font-size: larger;
    width: 330px;
}


.card6
{
    position: absolute;
    width: 350px;
    height: 520px;
    background-color: white;
    top: 880px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    left: 1130px;
    opacity: 85%;

}
.nimg6
{
    position: absolute;
    top:880px;
    left:1130px;
}

.whole6
{
    position: absolute;
    width: 350px;
    height: 520px;
    transition: 0.3s;
    top: 880px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    left: 1130px;
    box-shadow: 0px 0px 10px 3px black;
}
.whole6:hover
{   transition: 0.4s;
    box-shadow: 0px 0px 10px 3px white;
}



.text6
{
    position: absolute;
    top:1125px;
    left:1147px;
    font-family: 'Carme', sans-serif;
    font-size: larger;
    width: 330px;
}


.pan
{
    position:absolute;
    top:1620px;
  background-color: rgb(219, 219, 219);
    width: 100%;
    height: 150px; 
}

.img8
{
    position: absolute;
    top: 1670px;
    left: 630px;
    cursor: pointer;
    transition: 0.3s;
}
.img8:hover
{
    filter: contrast(175%);
    transition: 0.3s;
}
.img9
{
    position: absolute;
    top: 1670px;
    left: 690px;
    cursor: pointer;
    transition: 0.3s;
}
.img9:hover
{
    filter: contrast(175%);
    transition: 0.3s;
}
.img10
{
    position: absolute;
    top: 1670px;
    left: 750px;
    cursor: pointer;
    transition: 0.3s;
}
.img10:hover
{
    filter: contrast(175%);
    transition: 0.3s;
}
.img11
{
    position: absolute;
    top: 1670px;
    left: 810px;
    cursor: pointer;
    transition: 0.3s;
}
.img11:hover
{
    filter: contrast(175%);
    transition: 0.3s;
}
.img12
{
    position: absolute;
    top: 1670px;
    left: 870px;
    cursor: pointer;
    transition: 0.3s;
}
.img12:hover
{
    filter: contrast(175%);
    transition: 0.3s;
}
.img13
{
    position: absolute;
    top: 1720px;
    left: 710px;
    cursor: pointer;
    transition: 0.3s;
}


::-webkit-scrollbar{
	width:7px;
	background-color:transparent;
	}
 
::-webkit-scrollbar-track{
	box-shadow: 0 0 5px rgba(0,233,253,1.00);
	}
::-webkit-scrollbar-thumb{
	background-color:#00ffc3;
	border-left:2px solid #ffffff;
    border-radius: 20px;

}


