.body
{
    overflow-x: hidden;
}

.background
{
    position: fixed;
    left: -10px;
    top: 0px;
    overflow: hidden;
    
}
.mySlides {display:none;}
.img1
{
    position: absolute;
    top: 50px;
    left: 65px;
}
.navbar
{
    position: absolute;
    top: 30px;
    left: 200px;
    
    
    
}
.navbar ul span a{
        text-decoration: none;
        color:rgb(255, 255, 255);
        padding: 50px;
    
        transition:0.2s;
    
}
.navbar ul span a:hover
{
    font-size: larger;
    color: yellow ;
    letter-spacing:0.1cm;
    transition:0.5s;
}


.navbar span{
    float: left;
    padding: 10px;
    font-size: 25px;
    font-family: 'Carme', sans-serif;
    font-weight: bold;                        
    padding-bottom: 41px;
    padding-top: 18px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 4em rgb(0, 0, 0);
   font-weight: 900;
   
  
}
.shad
{
    position: absolute;
    background:linear-gradient(rgb(0, 0, 0),transparent);
    width: 110%;
    height: 100px;
    top:-20px;
    left:-20px;
}
.mySlides
{
    position: absolute;
    top: 0px;
    left:0px;
}
 .card1
    {
        position: absolute;
        width: 1150px;
        height: 520px;
        background-color: rgb(172, 125, 49);
        top: 190px;
        border-top-left-radius: 40px;
        border-bottom-left-radius:40px;
        left: 230px;
        opacity: 85%;


    }
.off
{
    position: absolute;
    font-size:xx-large;
    color: red;
    font-weight: 800;
    top: 240px;
    left: 1200px;
    font-family: 'Carme', sans-serif;
    transform: rotate(90deg);
    background-color: yellow;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 5px;
    width: 140px;
    
}
.oimg1
{
    position: absolute;
    top: 200px;
    left: 770px;
}
.timg1
{
    position: absolute;
    top:430px;
    left: 300px;
}
.text1
{
    position: absolute;
    font-family: 'Carme', sans-serif;
    top: 200px;
    left: 300px;
    width: 400px;
    height: 200px;
    font-size: larger;
    text-shadow: 2px 2px 20px black;

}
.text1 h1
{
   color:yellow;
   text-shadow: 2px 2px 20px black;
}
.click1
{
    position: absolute;
    width: 1150px;
    height: 520px;
    top: 190px;
    border-top-left-radius: 40px;
    border-bottom-left-radius:40px;
    left: 230px;
   transition: 0.3s;


}
.click1:hover
{   transition: 0.3s;
    box-shadow: 2px 2px 15px rgb(172, 125, 49); 
}


.card2
    {
        position: absolute;
        width: 1150px;
        height: 520px;
        background-color: rgb(255, 154, 181);
        top: 190px;
        border-top-left-radius: 40px;
        border-bottom-left-radius:40px;
        left: 230px;
        opacity: 85%;


    }

.oimg2
{
    position: absolute;
    top: 200px;
    left: 770px;
}
.timg2
{
    position: absolute;
    top:430px;
    left: 300px;
}
.text2
{
    position: absolute;
    font-family: 'Carme', sans-serif;
    top: 200px;
    left: 300px;
    width: 400px;
    height: 200px;
    font-size: larger;
    text-shadow: 2px 2px 20px black;

}
.text2 h1
{
   color:rgb(255, 255, 0);
   text-shadow: 2px 2px 5px black;
}
.click2
{
    position: absolute;
    width: 1150px;
    height: 520px;
    top: 190px;
    border-top-left-radius: 40px;
    border-bottom-left-radius:40px;
    left: 230px;
   transition: 0.3s;


}
.click2:hover
{   transition: 0.3s;
    box-shadow: 2px 2px 15px rgb(255, 154, 181); 
}


.card3
    {
        position: absolute;
        width: 1150px;
        height: 520px;
        background-color: rgb(81, 168, 255);
        top: 190px;
        border-top-left-radius: 40px;
        border-bottom-left-radius:40px;
        left: 230px;
        opacity: 85%;


    }

.oimg3
{
    position: absolute;
    top: 200px;
    left: 770px;
}
.timg3
{
    position: absolute;
    top:440px;
    left: 300px;
}
.text3
{
    position: absolute;
    font-family: 'Carme', sans-serif;
    top: 200px;
    left: 300px;
    width: 400px;
    height: 200px;
    font-size: larger;
    text-shadow: 2px 2px 20px black;

}
.text3 h1
{
   color:rgb(255, 255, 0);
   text-shadow: 2px 2px 5px black;
}
.click3
{
    position: absolute;
    width: 1150px;
    height: 520px;
    top: 190px;
    border-top-left-radius: 40px;
    border-bottom-left-radius:40px;
    left: 230px;
   transition: 0.3s;


}
.click3:hover
{   transition: 0.3s;
    box-shadow: 2px 2px 15px rgb(81, 168, 255); 
}


.pan
{
    position:absolute;
    top:790px;
  background-color: rgb(219, 219, 219);
    width: 100%;
    height: 150px; 
}

.img8
{
    position: absolute;
    top:850px;
    left: 630px;
    cursor: pointer;
    transition: 0.3s;
}
.img8:hover
{
    filter: contrast(175%);
    transition: 0.3s;
}
.img9
{
    position: absolute;
    top:850px;
    left: 690px;
    cursor: pointer;
    transition: 0.3s;
}
.img9:hover
{
    filter: contrast(175%);
    transition: 0.3s;
}
.img10
{
    position: absolute;
    top:850px;
    left: 750px;
    cursor: pointer;
    transition: 0.3s;
}
.img10:hover
{
    filter: contrast(175%);
    transition: 0.3s;
}
.img11
{
    position: absolute;
    top:850px;
    left: 810px;
    cursor: pointer;
    transition: 0.3s;
}
.img11:hover
{
    filter: contrast(175%);
    transition: 0.3s;
}
.img12
{
    position: absolute;
    top:847px;
    left: 870px;
    cursor: pointer;
    transition: 0.3s;
}
.img12:hover
{
    filter: contrast(175%);
    transition: 0.3s;
}
.img13
{
    position: absolute;
    top:900px;
    left: 710px;
    cursor: pointer;
    transition: 0.3s;
}
::-webkit-scrollbar{
	width:7px;
	background-color:transparent;
	}
 
::-webkit-scrollbar-track{
	box-shadow: 0 0 5px rgba(0,233,253,1.00);
	}
::-webkit-scrollbar-thumb{
	background-color:#00ffc3;
	border-left:2px solid #ffffff;
    border-radius: 20px;

}
