* {
    padding: 0;
    margin: 0;
    font-family: 'Carme', sans-serif;
    text-decoration: none;
}
.background{
    position: absolute;
    border-radius: 0px;
    opacity: 0.8;
    filter: brightness(1.97);
}
.back
{
    overflow: hidden;  
}

.bg1{
    position: absolute;
    top: 10px;
    left: 220px;
    width: 1100px;
    height: 770px;
    background-color: transparent;
    border-radius: 15px;
}
.login{
    font-family: 'Carme', sans-serif;
}
.t1{
    position: absolute;
    top: 85px;
    left: 645px;
    color: #205E61;
    font-family: 'Carme', sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    transition: 0.3s;
    transform: translate(50%,-50%);
    text-shadow: 1px 1px 1px #919191,    
    1px 10px 6px rgba(16,16,16,0.3),
    1px 14px 10px rgba(16,16,16,0.1),
    1px 19px 35px rgba(16,16,16,0.1),
    1px 28px 60px rgba(16,16,16,0.3);
}
.t2{
    position: absolute;
    top: 135px;
    left: 495px;
    font-family: 'Carme', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: black;
}
.a{
    position: absolute;
    top: 175px;
    left: 490px;
    font-size: 18px;
    font-family: 'Carme', sans-serif;
    font-weight: 250;
    background: transparent;
    text-align: center;
    border-color: black;
}
.t3{
    position: absolute;
    top: 135px;
    left: 875px;
    font-family: 'Carme', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: black;
}
.aa{
    position: absolute;
    top: 175px;
    left: 870px;
    font-size: 18px;
    font-family: 'Carme', sans-serif;
    font-weight: 250;
    background: transparent;
    text-align: center;
    border-color: black;
}
.t4{
    position: absolute;
    top: 230px;
    left: 495px;
    font-family: 'Carme', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: black;
}
.b{
    position: absolute;
    top: 270px;
    left: 490px;
    font-size: 18px;
    font-family: 'Carme', sans-serif;
    font-weight: 250;
    background: transparent;
    text-align: center;
    border-color: black;
}
.t5{
    position: absolute;
    top: 230px;
    left: 875px;
    font-family: 'Carme', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: black;
}
.bb{
    position: absolute;
    top: 275px;
    left: 883px;
    font-size: 18px;
    font-family: 'Carme', sans-serif;
    font-weight: 250;
    background: transparent;
    text-align: center;
    border-color: black; 
}
.t6{
    position: absolute;
    top: 325px;
    left: 495px;
    font-family: 'Carme', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: black;
}
.c{
    position: absolute;
    top: 365px;
    left: 490px;
    font-size: 18px;
    font-family: 'Carme', sans-serif;
    font-weight: 250;
    background: transparent;
    text-align: center;
    border-color: black;
}
.t7{
    position: absolute;
    top: 325px;
    left: 875px;
    font-family: 'Carme', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: black;
}
.cc{
    position: absolute;
    top: 365px;
    left: 870px;
    font-size: 18px;
    font-family: 'Carme', sans-serif;
    font-weight: 250;
    background: transparent;
    text-align: center;
    border-color: black; 
}
.t8{
    position: absolute;
    top: 420px;
    left: 495px;
    font-family: 'Carme', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: black;
}
.d{
    position: absolute;
    top: 460px;
    left: 490px;
    font-size: 18px;
    font-family: 'Carme', sans-serif;
    font-weight: 250;
    background: transparent;
    text-align: center;
    border-color: black;
}
.t9{
    position: absolute;
    top: 420px;
    left: 875px;
    font-family: 'Carme', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: black;
}
.dd{
    position: absolute;
    top: 460px;
    left: 870px;
    font-size: 18px;
    font-family: 'Carme', sans-serif;
    font-weight: 250;
    background: transparent;
    text-align: center;
    border-color: black;
}
.btnn{
    position: absolute;
    top: 530px;
    left: 665px;
    font-size: 18px;
    height: 4%;
    width: 17%;
    font-family: 'Carme', sans-serif;
    font-weight: 300;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(to bottom left, #edb69e 40%, #d19278 100%);
    border-color: black;
    display: block;
    border-color: linear-gradient(to bottom left, #edb69e 40%, #d19278 100%) ;
}
@keyframes glowing {
    0% {
        background-color: #9c6750;
        box-shadow: 0 0 5px #9c6750;
    }
    50% {
        background-color: #9c6750;
        box-shadow: 0 0 20px #9c6750;
    }
    100% {
        background-color: #9c6750;
        box-shadow: 0 0 5px #9c6750;
    }
}
.btnn{
    animation: glowing 1300ms infinite;
  }

